@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cursor-blink {
	0% {
		opacity: 0;
	}
}

html {
	color: black;
	height: 100%;
}

body {
	height: 100%;
}

#__next {
	height: 100%;
	width: 100%;
}
